# Cache de Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
env/
venv/

# Archivos de configuración locales
*.env

# IDEs y herramientas
.idea/
.vscode/
*.swp

# Git
.git/
.gitignore

# Archivos de sistema
.DS_Store
Thumbs.db
